.ul-list-eachstate {
  list-style-type: none;

  padding: 0;
  margin-left: -20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .ui-list-eachstate {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
  }
}

.category-item {
  text-align: center;
  min-width: 120px;
  margin: 0px 10px;
  padding: 25px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Roboto';
}

.confirmed {
  color: #ff073a;
}
.confirmed:focus {
  background: #331427;
}
.confirmed:hover {
  background: #331427;
}
.active {
  color: #007bff;
}
.active:focus {
  background: #132240;
}
.active:hover {
  background: #132240;
}
.recovered {
  color: #28a745;
}
.recovered:focus {
  background: #182829;
}
.recovered:hover {
  background: #182829;
}
.deceased {
  color: #6c757d;
}
.deceased:focus {
  background: #212230;
}
.deceased:hover {
  background: #212230;
}

.confirmed-block {
  background: #331427;
}

.active-block {
  background: #132240;
}

.recovered-block {
  background: #182829;
}

.deceased-block {
  background: #212230;
}

.card {
  width: 148px;
  height: 148px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .card {
    width: 264px;
    height: 232px;
    border-radius: 12px;
  }
}

.stats-number {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .stats-number {
    font-size: 24px;
  }
}

.stats-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .stats-title {
    font-size: 16px;
    line-height: 24px;
  }
}
