.app-container {
  background-color: #161625;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.responsive-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: #2f2f43;
  width: 90%;
  min-width: 312px;
  max-width: 480px;
  height: 48px;
  flex-shrink: 0;
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.06);
  margin-top: 24px;
  padding: 14px 16px;
}

.search-input {
  background-color: transparent;
  color: var(--light-blue-gray-400, #94a3b8);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  border: none;
  outline: none;
  margin-left: 8px;
  width: 80%;
}

.loader-dots {
  display: flex;
  align-items: center;
  height: 70vh;
}

.country-stats {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 48px;
  margin-bottom: 48px;
  width: 75%;
}

.stats-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  margin-right: 40px;
}

.stats-title {
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
}

.stats-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin: 16px 0px;
}

.stats-count {
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.red {
  color: #ff073a;
}
.blue {
  color: #007bff;
}
.green {
  color: #28a745;
}
.gray {
  color: #6c757d;
}

.states-table {
  width: 80%;
  min-width: 1126px;
  height: 2080px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid var(--light-blue-gray-600, #475569);
  background: #1e1e30;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.16);
  margin-bottom: 48px;
  align-self: flex-start;
  margin-left: 48px;
}

@media screen and (min-width: 992px) {
  .states-table {
    align-self: center;
    max-width: 1148px;
    margin-left: 0;
  }
}

.table-header {
  display: flex;
  align-items: center;
  padding: 1px 5px 1px 25px;
}

.sorting-container {
  display: flex;
  align-items: center;
}

.table-title {
  color: var(--light-blue-gray-50, #f8fafc);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.sorting-btn {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 8px;
}

.sorting-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  color: var(--light-blue-gray-400, #94a3b8);
}

.line {
  /* width: 100%;
  height: 1px; */
  /* border: 1px solid #475569; */
  border: 1px solid var(--light-blue-gray-600, #475569);
  margin: 0;
}

.table-headings {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin-left: 50px;
}

.states-list {
  list-style-type: none;
  width: 100%;
  padding-left: 15px;
  padding-right: 8px;
}

.list-item {
  display: flex;
  align-items: center;
}

.state-name {
  width: 20%;
  color: var(--light-blue-gray-100, #f1f5f9);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
}

.numbers-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
